[Unit]
Description=Dex IdP service
ConditionPathExists=/etc/dex/config.yml
After=network.target

[Service]
Type=simple
WorkingDirectory=/etc/dex
User=dex
Group=dex
RuntimeDirectory=dex
RuntimeDirectoryMode=0770

ExecStart=/usr/bin/dex serve /etc/dex/config.yml
Restart=always

[Install]
WantedBy=multi-user.target
