#!/usr/bin/make -f

export DH_GOLANG_INSTALL_EXTRA := web/*

override_dh_auto_install:
	dh_auto_install -- --no-source

override_dh_auto_test:

%:
	dh $@ --builddirectory=_build --buildsystem=golang --with=golang
